@import "materialize/sass/components/color";

// Sticky footer
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: color("grey", "lighten-3");
}

main {
	flex: 1 0 auto;
}

/* Meterialize overight */

$primary-color: color("grey", "darken-2");
$secondary-color: color("green", "accent-2");
$success-color: color("green", "accent-2");
