.btn-submit {
	margin-top: 25px;
}


.upvote span {
	width: 50px;
}

.upvote-arrow {
	float: left;
	clear: left;
	text-align: center;
	font-size: 1.5em!important;
}

.upvote-count {
	float: left;
	clear: left;
	text-align: center;
	font-size: 1.1em;
	margin-top: -15px;
	margin-bottom: 5px;
}
