<md-toolbar class="md-tall md-accent" layout="column" layout-align="center center">
	<h1 class="md-headline"><a href="{{post.link}}" target="_blank">{{post.title}}</a></h1>
	<div class="md-subhead">posted by {{post.user.nickname}} | {{post.comments.length}} comments</div>
</md-toolbar>

<md-content layout-margin>
	<md-list>
		<md-list-item class="md-3-line list-item" ng-repeat="comment in post.comments | orderBy:'-upvotes'">
			<div layout="row" layout-wrap layout-align="space-between center" class="md-list-item-text">
				<div flex="10" class="upvote-box">
					<a href="" ng-click="upvoteComment(post, comment)" class="upvote">
						<span class="upvote-arrow mdi mdi-menu-up"></span>
						<span class="upvote-count">
							{{comment.upvotes}}
						</span>
					</a>
				</div>
				<div flex="85" class="link-body">
					<h3>{{comment.body}}</h3>
				</div>
			</div>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>

	<div >
		<form ng-submit="addComment()" layout=column layout-align="center center">
			<md-input-container flex>
				<label>Comment</label>
				<textarea ng-model="body" columns="1" md-maxlength="140"></textarea>
			</md-input-container>
			<md-button type="submit" >Post</md-button>
		</form>
	</div>
</md-content>
