
<div layout="column">
<div layout="column">
  <md-toolbar class="md-accent" layout="column"  layout-align="space-around center">
      <span>Top links</span>
      <!-- fill up the space between left and right area -->
  </md-toolbar>
</div>


<md-content layout-padding>
	<md-list>
		<md-list-item class="md-3-line list-item" ng-repeat="post in posts | orderBy:'-upvotes'">
			<div layout="row" layout-wrap layout-align="space-between center" class="md-list-item-text">
				<div flex="10" class="upvote-box">
					<a href="" ng-click="incrementUpvotes(post)" class="upvote">
						<span class="upvote-arrow mdi mdi-menu-up"></span>
						<span class="upvote-count">
							{{post.upvotes}}
						</span>
					</a>
				</div>
				<div flex="80" class="link-body">
					<h3><a href="{{post.link}}" target="_blank">{{post.title}}</a></h3>
				</div>
				<div flex=5>
					<p><a href="#/posts/{{post.id}}"><i class="i-comment mdi mdi-account-outline"></i></a></p>
				<md-tooltip>
						{{post.user.nickname}}
				</md-tooltip>
				</div>
				<div flex=5>
					<p><a href="#/posts/{{post.id}}"><i class="i-comment mdi mdi-comment-text-outline"></i></a></p>
				<md-tooltip>
					{{post.comments.length}} comments
				</md-tooltip>
				</div>
			</div>
			<md-divider ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>
</md-content>

</div>
