 <md-toolbar >
    <div class="md-toolbar-tools" >
      <span ui-sref="home" >Up +</span>
      <md-button ui-sref="home" >
				Top links
      </md-button>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button ng-if="!user.signedIn" ui-sref="register" >
				Register
      </md-button>
      <md-button ng-if="!user.signedIn" ui-sref="login">
        Log in
      </md-button>
      <md-button ng-if="user.signedIn" ng-click="signOut()">
        Log out
      </md-button>
			<md-button class="home-fab md-fab md-mini md-accent" aria-label="fab" ng-click="dialogFormInside($event)" >
				<md-tooltip>
					<span ng-if="!user.signedIn">Log in to post</span>
					<span ng-if="user.signedIn">Post</span>
				</md-tooltip>
				<md-icon class="i-add-post large mdi mdi-plus "></md-icon>
			</md-button>
    </div>
</md-toolbar>
