<div layout="column">
  <md-toolbar class="md-accent" layout="column"  layout-align="space-around center">
      <span>Log in</span>
      <!-- fill up the space between left and right area -->
  </md-toolbar>
</div>

<form class="auth-form" ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
	<div layout=column layout-align="center center" >
			<md-input-container>
				<label>Email</label>
				<input ng-model="loginForm.email" type="email">
				</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input type="password" ng-model="loginForm.password">
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary"> Log in </md-button>
	</div>
</form>
