<div layout="column">
  <md-toolbar class="md-accent" layout="column"  layout-align="space-around center">
	<span>Register</span>
      <!-- fill up the space between left and right area -->
  </md-toolbar>
</div>
<form class="auth-form"  ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">

	<div layout=column layout-align="center center" >
			<md-input-container>
				<label>email</label>
    		<input type="email" name="email" ng-model="registrationForm.email" required="required"/>
			</md-input-container>
			<md-input-container>
				<label>nickname</label>
				<input type="text" name="nickname" ng-model="registrationForm.nickname" required="required"/>
			</md-input-container>
			<md-input-container>
				<label>password</label>
				<input type="password" name="password" ng-model="registrationForm.password" required="required"/>
			</md-input-container>
			<md-input-container>
				<label>password confirmation</label>
				<input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required"/>
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary"> Register </md-button>
	</div>
</form>

