.btn-submit {
	margin-top: 25px;
}

.upvote-box {
//	background-color:red;
}

.link-body  h4{
	color: #999999 !important;
}
.upvote span {
	width: 80%;
}

.upvote-arrow {
	float: left;
	clear: left;
	text-align: center;
	font-size: 1.5em!important;
}

.upvote-count {
	float: left;
	clear: left;
	text-align: center;
	font-size: 1.1em;
	margin-bottom: 5px;
}

.i-add-post {
	font-size: 24px !important;
}

.i-comment {
	font-size: 20px !important;
}
