<!DOCTYPE html>
<html>
	<head>
		<title>FlapperNews</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	</head>
	<body ng-app="flapperNews" ng-controller="MainCtrl">
		<header>
		<div ng-include="'nav/_nav.html'"></div>
		</header>
		<main>
			<ui-view></ui-view>
		</main>
	</body>
</html>
